$root-font-size             : 16px;
$gap                        : 30px;
$base-color                 : #FFFFFF;
$background-color           : #3C485E;
$text-color                 : #222827;
$text-muted-color           : #9B9B9B;
$border-color               : #EFEEF3;

$item-color-01              : #DB4B39;
$item-color-02              : #527EA1;
$item-color-03              : #FE9901;

$custom-google-font         : 'Roboto Condensed', sans-serif;
$custom-google-font-2       : 'Playfair Display', serif;
$item-border-radius         : 8px;

$list-item-height           : 30px;
$icon-size                  : 100px;
$content-border-size        : 2px;